body {
    box-sizing: border-box;
    color: white;
    background-color: rgb(176, 176, 176);

}

header {
    text-align: center;
}

header img {
    margin-top: 30px;
    width: 200px;
    border-radius: 50%;
    border: solid 2px rgb(0, 252, 0);
    position: relative;
}